<h1> Hello World </h1>
<!-- options for choosing a school year from dataset -->
  <p>Choose a School Year:
    <select id='myselect' >
      <option data-ng-repeat='range in school_years' value={{range}}> {{range}} </option>
    </select>
    <button type="button" onclick="getSelected()" ng-click="showgraph = !showgraph">Choose</button>
  </p>
  <div data-ng-hide="showgraph">
      <!-- <p> {{year_data[0].school_year}}</p> -->
      <div class="counter c1" data-count={{year_data[0].free_reduced_school_breakfast_participation}}>0</div>
      <div class="counter c2" data-count={{year_data[0].free_reduced_school_lunch_participation}}>0</div>
      <div class="counter c3" data-count={{year_data[0].students_eligible_for_free_and_reduced_meals}}>0</div>
   </div>
