<div class='exampleContainer'>
<h1> Don't believe us?</h1>
<h2> Maryland's school statistics show otherwise.</h2>
<!-- options for choosing a school year from dataset -->
  <p>Choose a School Year:
    <select id='myselect' >
      <option data-ng-repeat='range in school_years' value={{range}}> {{range}} </option>
    </select>
    <button type="button" onclick="getSelected()" ng-click="showgraph = !showgraph">Choose</button>
  </p>
  <div data-ng-show="showgraph">
      <!-- <p> {{year_data[0].school_year}}</p> -->
      <div class='countersContainer'>
        <div class='counterbox' id="c1">
          <h4> Number of Students Eligible </h4>
          <div class="counter" data-count={{year_data[0].students_eligible_for_free_and_reduced_meals}}>0</div>
        </div>
        <div class='counterbox' id="c2">
          <h4> Number of Breakfasts Provided </h4>
          <div class="counter" data-count={{year_data[0].free_reduced_school_breakfast_participation}}>0</div>
        </div>
        <div class='counterbox' id="c3">
          <h4> Number of Lunches Provided </h4>
          <div class="counter" data-count={{year_data[0].free_reduced_school_lunch_participation}}>0</div>
        </div>
      </div>
   </div>

   <h3>Even if the family knows they are eligible, most don't get their
     breakfast because of being uninformed or unable to get their children to
     school early enough for breakfast.</h3>
</div>
